@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /*--font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',*/
    /*'Segoe UI Symbol', 'Noto Color Emoji';*/
    /*--font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif,*/
    /*"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",*/
    /*"Noto Color Emoji";*/
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
    --color-primary: #3396D3;
    --color-primary-dark: #2a78a9;
    --color-secondary: #EBCB90;
    --color-third: #FFF0CE;
    --color-accent: #fbbf24;
    --color-blue-dark: #1C3B4E;
    --color-marker-red: #ef4444;
    --color-marker-green: #22c55e;
    --color-marker-blue: #3b82f6;
    --color-green: #22c55e;
    --color-red: #ef4444;
    --color-purple: #a855f7;
    --color-blue: #3b82f6;
}
